@charset "UTF-8";

.top-nav-item,
.main-contents-title,
.main-contents-subtitle,
.main-contents-infodate,
.main-contents-infotext,
.bottom-nav-item {
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
}

br {
  display: block;
  content: "";
  margin: 5px 0;
}

.main-contents-holder {
  margin-bottom: 100px;
  background-color: #FFF;
  min-width: 980px;
  width: 1920px;
}

.main-contents-header {
  width: 1920px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.top-nav {
  display: flex;
  justify-content: center;
}

.top-nav-sp {
  display: none;
}

.top-nav li {
  font-size: 15px;
  list-style: none;
}

.top-nav-item {
  margin: 0 25px;
  border-bottom: 2px solid;
  text-shadow: 2px 2px 0 #ffff;
}

.top-icon {
  display: flex;
  justify-content: space-between;
}
.top-icon img {
  width: 20px;
  height: 20px;
  margin: 0 7px;
}

.top-hamburger {
  display: none;
}

.main-contents-main {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
}

.main-contents-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1920px;
}

.mainimg {
  height: 450px;
  object-fit: cover;
  object-position: center 80%;
  width: 100%;
}

.main-contents-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /*width: 100%;
  align-items: center;*/
}

.main-contents-textbox {
  width: 988px;
}

.main-contents-title {
  font-size: 25px;
  letter-spacing: 6px;
  padding: 50px 0 35px;
}

.main-contents-title.padding {
  padding: 50px 0 90px;
}

.main-contents-text {
  font-size: 12px;
  letter-spacing: 0.2em;
  padding-bottom: 60px;
}

.main-contents-text.space {
  line-height: 24px;
  padding: 40px 0 80px 20px;
}

.main-contents-box {
 /*display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
}

.main-contents-box.gridhide {
  display: flex;
  justify-content: center;
}

.main-contents-imgbox {
  width: 459px;
}

.main-contents-img {
  width: 459px;
  border-radius: 40px;
}

.main-contents-subtext {
  font-size: 12px;
  letter-spacing: 0.2em;
  padding: 3px 0 3px;
}

/*.main-contents-subtitle,
.main-contents-img,
.main-contents-subtext {
  max-width: 459px;
}*/

.main-contents-subtitle {
  font-size: 20px;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.main-contents-infobox {
  display: flex;
  flex-direction: column;
  width: 988px;
  padding-top: 30px;
}

.main-contents-info {
  display: flex;
  border-bottom: 1px solid #333;
  /*justify-content: flex-start;*/
}

.main-contents-infodate {
  margin-left: 30px;
  font-size: 14px;
}

.main-contents-infotext {
  margin:0 0 30px 30px;
  font-size: 14px;
  text-decoration: underline;
}

hr {
  border: none;
  margin: 0 0 40px;
  width: 988px;
}

.main-contents-fotter {
  width: 1920px;
  height: 370px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bottom-nav {
  display: flex;
  justify-content: center;
  padding-top: 55px;
}

.bottom-nav li {
  font-size: 15px;
  list-style: none;
}

.bottom-nav-item {
  letter-spacing: 2px;
  margin: 0 50px;
  text-decoration: underline;
}


/*@media (max-width: 980px) {
  .main-contents-holder {
    background-color: #FF3;
    width: 100%;
  }
  .main-contents-mainimg
  .mainimg {
    width: 100%;
    height: 449px;
    object-fit: cover;
    object-position: center 80%;
  }
  .main-contents-fotter {
    width: 100%;
  }
}*/

@media (max-width: 320px) {
  .main-contents-holder {
    background-color: rgb(54, 255, 51);
    width: 100%;
    margin: 0;
  }
  .main-contents-header {
    width: 100%;
    justify-content: flex-end;
  }
  .main-contents-main {
    width: 100%;
  }
  .mainimg {
    width: 320px;
    height: 165px;
    object-fit: cover;
    object-position: center 80%;
    min-width: 0px;
  }
  .main-contents-wrap {
    max-width: 280px;
  }
  .main-contents-box {
    display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
  }
  .main-contents-imgbox {
    width: 280px;
  }
  .main-contents-textbox {
    width: 280px;
  }
  .main-contents-text.space {
    padding: 0;
  }
  .main-contents-img {
    width: 230px;
    border-radius: 20px;
  }
  .main-contents-info {
  
  }
  .main-contents-infobox {
    width: 320px;
  }
  .main-contents-fotter {
    width: 380px;
  }
  /*.no-scroll {
    overflow: hidden;
    height: 100%;
  }*/
  .top-icon {
    display: flex;
    justify-content: flex-end;
  }
  .top-icon img {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0px;
  }
  .top-nav {
    display: none;
  }
  .top-hamburger {
    display: block;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    margin: 50px 0 0 auto;
    height: 20px;
    width: 20px;
    right: 10px;
    transform: translateX(0);
  }
  .top-hamburger-icon {
    display: inline-block;
    width: 20px;
    height: 22px;
    color: black;
    vertical-align: middle;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 100;
    transition: all .5s;
  }
  .top-hamburger-icon.active {
    transform: translateX(30px);
  }
  .top-hamburger-icon span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    border-radius: 10px;
    background-color: #000;
    border-width: 5px;
    transition: all .5s;
  }
  .top-hamburger-icon span:nth-of-type(1) {
    top: 2px; 
  }
  .top-hamburger-icon span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .top-hamburger-icon span:nth-of-type(3) {
    bottom: 2px;
  }
  .top-hamburger-icon.active span:nth-of-type(1),
  .top-hamburger-icon.active span:nth-of-type(3) {
    top: 10px; 
    transform: rotate(45deg);
  }
  .top-hamburger-icon.active span:nth-of-type(3) {
    transform: rotate(-45deg);
  }
  .top-hamburger-icon.active span:nth-of-type(2) {
    opacity: 0;
  }

}